$sidenav-width: 250px;
$active-color: #279e97;
$background-color: #1f618d;
$text-color: #ffffff;
$hover-color: lighten($background-color, 10%);

body {
  font-family: "Gill Sans MT", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

.sidenav {
/* the bar */
  height: 100%;
  width: $sidenav-width;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $background-color;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;

    .logo-container {
      display: flex;
      align-items: center;
      padding: 20px;
      font-size: 24px;
      color: $text-color;
      font-weight: bold;

      i {
        margin-right: 10px;
      }

  }
  a {/*the text in the bar*/
    display: flex;
    align-items: center;
    padding: 16px 16px 16px 32px;
    text-decoration: none;
    font-size: 20px;
    color: $text-color;
    transition: 0.3s;



  &.active, &:focus {
    background-color: $background-color;
    color: $text-color;
  }
  i {
    margin-right: 10px;
    font-size: 24px;
  }
  &:hover {
    background-color: $active-color;
    color: $text-color;
  }}

}



#main {
  transition: margin-left .5s;
  padding: 16px;
  margin-left: $sidenav-width;
}

body.active #main {
  margin-left: $sidenav-width; /* Push main content to the right when sidebar is open */
}


